@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.starry-background {
  background: linear-gradient(
    to bottom, 
    rgba(12, 28, 110, 0.4767), 
    rgba(12, 28, 110, 0)       
  ),
url("../../public/starry-illustration.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
